@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root{
  --bg-main: #12091c;
  --bg-secondary: #1b1029;
  --bg-card: #221132;

  --primary: #6d28d9;
  --primary-soft: #8b5cf6;

  --gold: #f59e0b;
  --gold-soft: #ffb547;

  --rose: #e11d48;

  --text-main: #f5f3ff;
  --text-soft: #c4b5fd;

  --border: rgba(139,92,246,0.25);
}

/* =========================================
   CUSTOM SCROLLBAR
========================================= */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(168,85,247,0.9),
    rgba(217,70,239,0.9)
  );
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(192,132,252,1),
    rgba(232,121,249,1)
  );
}

/* FIREFOX */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 rgba(255,255,255,0.05);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

/* =========================================
   JIGOKUBARA SCROLLBAR
========================================= */

.jgb-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9333ea rgba(255,255,255,0.04);
}

/* Chrome / Edge / Opera */
.jgb-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.jgb-scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
  border-radius: 999px;
}

.jgb-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #c026d3,
    #9333ea,
    #6d28d9
  );

  border-radius: 999px;

  border: 2px solid rgba(0,0,0,0.4);

  box-shadow:
    0 0 15px rgba(168,85,247,0.6),
    inset 0 0 8px rgba(255,255,255,0.15);
}

.jgb-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #e879f9,
    #a855f7,
    #7e22ce
  );

  box-shadow:
    0 0 25px rgba(168,85,247,0.9),
    inset 0 0 10px rgba(255,255,255,0.2);
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}