@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root{
  --bg-main: #09090b;
  --bg-secondary: #111111;
  --bg-card: #18181b;

  --primary: #dc2626;
  --primary-soft: #ef4444;

  --gold: #d4af37;
  --gold-soft: #f5d76e;

  --rose: #b91c1c;

  --text-main: #fafafa;
  --text-soft: #a1a1aa;

  --border: rgba(220,38,38,0.25);
}

/* =========================================
   CUSTOM SCROLLBAR
========================================= */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #dc2626,
    #991b1b
  );
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(
    180deg,
    #ef4444,
    #dc2626
  );
}

/* FIREFOX */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dc2626 rgba(255,255,255,0.05);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

/* =========================================
   DWARRIORS SCROLLBAR
========================================= */

.jgb-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dc2626 rgba(255,255,255,0.04);
}

/* Chrome / Edge / Opera */
.jgb-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.jgb-scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
  border-radius: 999px;
}

.jgb-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ef4444,
#dc2626,
#991b1b
  );

  border-radius: 999px;

  border: 2px solid rgba(0,0,0,0.4);

  box-shadow:
    0 0 15px rgba(220,38,38,0.6),
    inset 0 0 8px rgba(255,255,255,0.15);
}

.jgb-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #f87171,
    #ef4444,
    #dc2626
  );

  box-shadow:
    0 0 25px rgba(220,38,38,0.9),
    inset 0 0 10px rgba(255,255,255,0.2);
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

.member-scroll::-webkit-scrollbar {
  width: 10px;
}

.member-scroll::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.04);
  border-radius: 999px;
}

.member-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ef4444,
#dc2626,
#991b1b
  );
  border-radius: 999px;
  box-shadow:
    0 0 10px rgba(220,38,38,.5),
    0 0 20px rgba(220,38,38,.3);
}

.member-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #dc2626,
    #991b1b
  );
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 3s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 5s ease-in-out infinite;
}

@keyframes particleFloat {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-190vh);
    opacity: 0;
  }
}

.particle {
  position: absolute;
  bottom: -20px;
  border-radius: 9999px;
  animation: particleFloat linear infinite;
  opacity: 1;
  z-index: 999;
  box-shadow: 0 0 15px #dc2626;
}

@keyframes quoteGlow {
  0% {
    text-shadow:
      0 0 15px rgba(220,38,38,.3);
  }

  50% {
    text-shadow:
      0 0 35px rgba(220,38,38,.9),
      0 0 70px rgba(239,68,68,.5);
  }

  100% {
    text-shadow:
       0 0 15px rgba(220,38,38,.3);
  }
}

.quote-glow {
  animation: quoteGlow 5s ease-in-out infinite;
}

input[type="range"] {
  accent-color: #dc2626;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
    background: #09090b;

}

::-webkit-scrollbar-thumb {
  background: #991b1b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
 background: #dc2626;
}

.neon-border {
  position: relative;
}

.neon-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(
    90deg,
    #991b1b,
    #dc2626,
    #ef4444,
    #dc2626,
    #991b1b
  );

  background-size: 400% 400%;

  animation: borderFlow 6s linear infinite;

  z-index: -1;
}

@keyframes borderFlow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 5s ease-in-out infinite;
}

/* =========================================
   WILL OF THE D
========================================= */

.will-logo {
  filter:
    drop-shadow(0 0 25px rgba(255, 0, 0, 0.35))
    drop-shadow(0 0 80px rgba(220,38,38,.2));
}

@keyframes willFloat {

  0% {
    transform:
      translateY(-50%)
      translateX(0px);
  }

  50% {
    transform:
      translateY(calc(-50% - 10px))
      translateX(5px);
  }

  100% {
    transform:
      translateY(-50%)
      translateX(0px);
  }

}

.will-logo {
  animation: willFloat 8s ease-in-out infinite;
}

/* =========================================
   DWARRIORS LIGHTNING
========================================= */

@keyframes lightningFlash {

  0%, 70%, 100% {
    opacity: 0;
  }

  72% {
    opacity: .4;
  }

  73% {
    opacity: 0;
  }

  74% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  76% {
    opacity: .7;
  }

  77% {
    opacity: 0;
  }
}

.lightning-flash {
  animation: lightningFlash 2s infinite;
}

@keyframes redSkyPulse {

  0%,
  100% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }
}

.red-sky-pulse {
  animation: redSkyPulse 5s ease-in-out infinite;
}

@keyframes logoGlowFlash {
  0%,92%,100% {
    filter:
      drop-shadow(0 0 40px rgba(220,38,38,.4));
  }

  93% {
    filter:
      drop-shadow(0 0 80px rgba(255,255,255,.9))
      drop-shadow(0 0 150px rgba(220,38,38,1));
  }

  95% {
    filter:
      drop-shadow(0 0 120px rgba(255,255,255,1))
      drop-shadow(0 0 200px rgba(220,38,38,1));
  }

  97% {
    filter:
      drop-shadow(0 0 90px rgba(255,255,255,.8))
      drop-shadow(0 0 160px rgba(220,38,38,.9));
  }
}

.logo-lightning {
  animation:
    floating 5s ease-in-out infinite,
    logoGlowFlash 2s infinite;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;

  background: black;
}

.blood-tiitle{
  font-family: "Bebas Neue", sans-serif;
}